body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 80px;
  text-align: center;
  margin: 20px 0;
}

p {
  font-size: 20px;
}

img {
  height: 150px;
  width: auto;
  display: block;
  margin: 20px auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  min-height: 100vh;
}

.article-preview {
  width: 250px;
  height: 350px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.article-details {
  margin: 20px;
  padding: 15px;
}

.article-preview a {
  color: #060606;
  text-decoration: none;
}

.article-preview h2 {
  margin: 0 0 10px;
}

.article-preview {
  text-decoration: none;
  transition: transform 0.3s ease;
}

.article-preview:hover {
  transform: scale(1.1);
}

.article-details a {
  color: #a9a9a9;
  border: 2px solid #ddd;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 16px;
  transition: all 0.3s ease;
  display: inline-block;
}

.article-details a:hover {
  background-color: #f5f5f5;
  color: #a9a9a9;
  border-color: #ccc;
}